*{
            padding:0;
            margin:0;
            font-size:40px;
        }
        table{
            width:600px;
            height:600px;
            margin:auto;
        }
       td {
           width: 100px;
           border: 1px solid #525252;


       }
        td input{
            width:100%;
            height:100%;
            text-align: right;
            font-size:60px;
            background: rgba(75, 102, 109, 0.81);


        }
        td button{
            width:100%;
            height:100%;
            cursor: pointer;
            
        }
        
